<p style="color: green"><%= notice %></p>

<h1>Articulos</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Mostrar Articulo", article %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo Articulo", new_article_path %>
